<nav class="main-nav">
    <div class="nav-1">
        <a routerLinkActive="active-page" [routerLinkActiveOptions]="{exact:true}" routerLink="/">
            <h2>BAR 121</h2>
        </a>
    </div>
    <div class="nav-2">
        <ul>
            <li><a href="#whats-on">What's On</a></li>
            <li><a routerLink="/menu" routerLinkActive="active-page">Menu</a></li>
            <li><a routerLink="/booking" routerLinkActive="active-page">Book a Table</a></li>
            <li><a href="#contact" routerLinkActive="active-page">Contact</a></li>
        </ul>
    </div>
    <div class="nav-3">
        <button (click)="mobMenu()" class="burger">
            <p></p>
            <p></p>
            <p></p>
        </button>
    </div>
</nav>
<div *ngIf="isShow" class="mob-menu">
    <ul>
        <li><a href="#whats-on">What's On</a></li>
        <li><a routerLink="/menu" routerLinkActive="active-page">Menu</a></li>
        <li><a routerLink="/booking" routerLinkActive="active-page">Book a Table</a></li>
        <li><a href="#contact" routerLinkActive="active-page">Contact</a></li>
    </ul>

</div>