/* //DIV 3 */
.div-3 {
    width: 100%;
    background-color: #151515;
    color: white;
    border-top: 1px solid white;
}

.div-3-card-containet {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-wrap: nowrap;
}

.card-1,
.card-2,
.card-3,
.card-4 {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.soc-icons {
    display: flex;
    column-gap: 20px;
    margin-top: 15px;
    margin-left: 5px;
}

i {
    font-size: 18px;
}

ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}

ul li:nth-child(1) {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

.card-3>p {
    font-size: 24px;
    width: 295px;
    text-wrap: wrap;
}

.card-3-input {
    display: flex;
    flex-direction: column;
}

#email-id {
    width: 300px;
    height: 50px;
    padding: 5px;
    background-color: #15151500;
    color: #D68B1A;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    margin: 15px 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

button {
    cursor: pointer;
    width: 137px;
    height: 50px;
    border: 2px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.5s;
}

button:hover {
    color: black;
    background-color: white;
    transition: 0.5s;
    border-color: #d68b1a;
}

.text-1>p {
    margin-top: 10px;
}

@media screen and (min-width:769px) and (max-width:1280px) {

    .div-3-card-containet {
        height: 400px;
    }
    .card-3 {
        width: 200px;
    }

    .card-3 > p{
        width: 100%;
        text-wrap: wrap;
    }

    #email-id {
        width: 200px;
    }

    .card-3-input > button{
        margin-left: 32px;
    }

}

@media screen and (max-width: 768px) {
    
    .div-3-card-containet {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding-left: 30px;
    }

}