<div class="home-main">
    <div class="div-1">
        <div class="card-1">
            <i class="fa-solid fa-martini-glass-citrus"></i>
            <h1>121</h1>
            <h1>BAR</h1>
            <h3>Local bar with Live Music</h3>
            <div class="btns">
                <a routerLink="/booking"><button>Book a table</button></a>
                <a routerLink="/reservation"><button>Check reservation</button></a>
            </div>
            <div class="main-address">
                <p>500 Terry Francine St. San Francisco, CA 94158</p>
            </div>
        </div>
    </div>
    <div class="div-2">
        <div class="text-card">
            <div class="text-1">
                <p>About</p>
                <p>Your Neighbourhood Institution</p>
            </div>
            <div class="text-2">
                <p>I'm a paragraph. Click here to add your own text and edit me. Its easy. Just click “Edit Text” or
                    double click me to add your own content and make changes to the font. Im a great place for you to
                    tell a story and let your users know a little more about you.</p>
            </div>
        </div>
    </div>
    <div class="div-3">
        <p id="whats-on">What's On</p>
        <div class="d3-card-1">
            <div class="d3-img">
                <img src="https://static.wixstatic.com/media/c837a6_ab7a0e38c4a449b89fe5bd7ee599dc3b~mv2.jpg/v1/fill/w_492,h_480,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/c837a6_ab7a0e38c4a449b89fe5bd7ee599dc3b~mv2.jpg"
                    alt="photo">
            </div>
            <div class="d3-text">
                <p>Happy Hour</p>
                <p>50% on all cocktails</p>
                <p>Monday to Thursday 3pm-6pm</p>
                <a routerLink="booking"><button>Book a Table</button></a>
            </div>
        </div>
        <div class="d3-card-2">
            <div class="d3-img">
                <img src="https://static.wixstatic.com/media/c837a6_4315e98ab8664ef7bed7c7dad88ef495~mv2.jpeg/v1/fill/w_493,h_480,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/c837a6_4315e98ab8664ef7bed7c7dad88ef495~mv2.jpeg"
                    alt="photo">
            </div>
            <div class="d3-text">
                <p>Friday Night Live</p>
                <p>Taylor Rees</p>
                <p>January 1st, 2035 8pm</p>
                <a routerLink="booking"><button>Book a Table</button></a>
            </div>
        </div>
        <div class="d3-card-3">
            <p class="card-3-header">Come Down & Grab a Pint</p>
            <div class="card-3-img-container">
                <div class="card-3-img">
                    <img src="https://static.wixstatic.com/media/c837a6_23663919259b482ca99d0ce9bef730de~mv2.jpg/v1/fill/w_653,h_652,q_90/c837a6_23663919259b482ca99d0ce9bef730de~mv2.webp"
                        alt="photo">
                </div>
                <div class="card-3-img-1">
                    <img src="https://static.wixstatic.com/media/c837a6_981a87acb2ba436bb184c82777b33eba~mv2.jpg/v1/fill/w_326,h_326,q_90/c837a6_981a87acb2ba436bb184c82777b33eba~mv2.webp"
                        alt="photo">
                    <img src="https://static.wixstatic.com/media/c837a6_429b4b8c37344b289ab4fd24cf8225a5~mv2.jpg/v1/fill/w_326,h_326,fp_0.66_0.28,q_90/c837a6_429b4b8c37344b289ab4fd24cf8225a5~mv2.webp"
                        alt="photo">
                    <img src="https://static.wixstatic.com/media/c837a6_b687f5c8efec49ad990b9d52e3b1b0bb~mv2.jpeg/v1/fill/w_326,h_326,q_90/c837a6_b687f5c8efec49ad990b9d52e3b1b0bb~mv2.webp"
                        alt="photo">
                    <img src="https://static.wixstatic.com/media/c837a6_561a61567a424365b4d63ba95743086b~mv2.jpg/v1/fill/w_326,h_326,q_90/c837a6_561a61567a424365b4d63ba95743086b~mv2.webp"
                        alt="photo">
                </div>
            </div>
        </div>
    </div>
</div>